option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: app.settings.production
  aws:elasticbeanstalk:container:python:
    WSGIPath: app/wsgi.py
  aws:elasticbeanstalk:container:python:staticfiles:
    /static/: static/

container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python ./manage.py migrate --noinput"
    leader_only: true
